//Media directives

@media only screen and (min-width: 21.25em) and (max-width: 42.5em) {   // 340px - 680px
    #footer #footer-sidebar li.widget {
        width: 49%;
    }
}

@media only screen and (min-width: 40em) {  // 640px
    #header {
        display: block;
    }
}

@media only screen and (min-width: 42.5em) {    // 680px

    #who { font-size: 4.0em; }
    #why { 
        font-size: 1.5em; 
        line-height: 1.5em;
    }
    
    #footer #footer-sidebar li.widget {
        width: 24%;
    }
}

@media only screen and (min-width: 64.0625em) {     // 1024px
    #wrap { 
        width: $main-content-max-width; 
    }  
}

